<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../static/forgotpassword.css">
</head>
<body>
    <main>  
        <div class="flash">
            {% with messages = get_flashed_messages() %}  
            {% if messages %}  
                    {% for message in messages %}  
                        <h3>{{ message }}</h3>  
                    {% endfor %}  
            {% endif %}
            {% endwith %}
        </div> <br>   
        <div  class="container">
                <h1>Reset Your Password</h1>
            <form method="POST">
                <div class="forgot">
                    {{forgot_form.hidden_tag()}}
                <div class="forgot">
                    {{forgot_form.name.label}}
                    {{forgot_form.name()}}
                </div>
                <div class="forgot">
                    {{forgot_form.email.label}}
                    {{forgot_form.email()}}
                </div>
                <div class="forgot">
                    {{forgot_form.new_password.label}}
                    {{forgot_form.new_password()}}
                </div><br>
                <div class="forgot">
                    {{forgot_form.confirm_password.label}}
                    {{forgot_form.confirm_password()}}
                </div><br>
                <div class="forgot">
                    {{forgot_form.submit()}}
                </div> 
            </form>
            <div class="create">
                <a href="/register">Create an Account?</a>
            </div>
        </div>

    </main>
</body>
</html>