<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move Card</title>
    <link rel="stylesheet" href="../../static/move_cards.css">
</head>
<body>
    <header>
        <div class="nav">
            <ul class="navbar">      
                <li class="item">
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li class="item">
                    <a href="/logout">Logout</a><br>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
            <h1>Move card to another list</h1>            
            <form method="POST">
                <div class="move_card">
                    {{form.hidden_tag()}}
                </div>
                <div class="move_card">
                    {{form.list_name.label}}<br>
                    {{form.list_name()}}
                </div>
                <div class="move_card">
                    {{form.submit()}}
                </div>  
            </form>
        </div>
    </main>     
</body>
</html>